manysketch-renamed.csv
raw-sketch-gather.classifications.csv
raw-sketch-gather.classifications.csv.bak
raw-sketch-gather.csv
raw-sketch-gather.with-lineages.csv
raw-sketch.unclassified.csv
bin-sketches.renamed.sig.zip
bin-sketches.lineages.csv
bin-sketches.taxburst.html
bin-sketches.taxburst.json
raw-sketch.custom-lineages.csv
gtdbtk
